# Pruebas sobre dataset propierati

---

Importacion de librerias necesarias.

In [425]:
import pandas as pd
import numpy as np
import re

Carga de datos y establecimiento de parametros de visualizacion.

In [508]:
df_propierati = pd.read_csv('../properati.zip', compression='zip')
df_prop_uz = pd.read_csv('../properati.csv')

In [509]:
pd.set_option('display.max_colwidth', 50)

### datosCol(serie) - Funcion que retorna diccionario con los datos de una Serie / Columna del DataFrame a analizar:

Campos:
 - nombre columna.
 - tipo de dato serie.
 - cantidad de registros en la serie.
 - cantidad de nulos en la serie.
 - cantidad de NO nulos en la serie.
 - porcentaje de No nulos en la serie.
 - cantidad de valores unicos en la serie.
 - valor mas repetido en la serie.
 - valor maximo en la serie.
 - valor minimos en la serie.
 - media, mediana y desvio estandar en la serie.
 - distribucion de cuantiles.
 - tipos de datos sobre los valores incluidos en la serie.

In [510]:
def datosCol(col=None):
    try:
        if col.dtype != object:
            return {
                    'nombre': col.name,
                    'series_dt': col.dtype,
                    'registros': int(len(col)), 
                    'nulos': int(len(col) - col.describe()[0]), 
                    'no_nulos': int(col.describe()[0]),
                    'no_nulos_pc': round(col.describe()[0] / col.shape[0], 4),
                    'unicos': int(len(col.value_counts())),
                    'mas_repetido': col.value_counts().index[0],
                    'minimo': col.describe()[3],
                    'maximo': col.describe()[7],
                    'media': round(col.describe()[1], 4),
                    'mediana': col.median(),
                    'desvio': round(col.describe()[2], 4),
                    'q25': col.describe()[4],
                    'q50': col.describe()[5],
                    'q75': col.describe()[6],
                    'values_dt': [x for x in col.apply(lambda x: type(x)).value_counts().index]
                   }
        else:
            return {
                    'nombre': col.name,
                    'series_dt': col.dtype,
                    'registros': int(col.describe()[0]),
                    'no_nulos': int(col.notnull().sum()),
                    'no_nulos_pc': round(col.notnull().sum() / col.shape[0], 4),
                    'unicos': int(col.describe()[1]), 
                    'mas_repetido': col.describe()[2],
                    'nulos': col.isnull().sum(),
                    'frecuencia': int(col.describe()[3]),
                    'values_dt': [x for x in col.apply(lambda x: type(x)).value_counts().index]
                   }
    except:
        return 'use a valid pandas Series'

In [513]:
df_info = pd.DataFrame.from_dict(datosCol(df_propierati.operation))
df_info = df_info.append(datosCol(df_propierati.property_type), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.place_name), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.place_with_parent_names), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.country_name), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.state_name), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.geonames_id), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati['lat-lon']), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.lat), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.lon), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.price), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.currency), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.price_aprox_local_currency), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.price_aprox_usd), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.surface_total_in_m2), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.surface_covered_in_m2), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.price_usd_per_m2), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.price_per_m2), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.floor), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.expenses), ignore_index=True)
df_info = df_info.append(datosCol(df_propierati.properati_url), ignore_index=True)

In [514]:
df_info

,nombre,series_dt,registros,no_nulos,no_nulos_pc,unicos,mas_repetido,nulos,frecuencia,values_dt,desvio,maximo,media,mediana,minimo,q25,q50,q75
0,operation,object,121220,121220,1.0000,1,sell,0,121220.0,<class 'str'>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,property_type,object,121220,121220,1.0000,4,apartment,0,71065.0,[<class 'str'>],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,place_name,object,121197,121197,0.9998,1060,Córdoba,23,9254.0,"[<class 'str'>, <class 'float'>]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,place_with_parent_names,object,121220,121220,1.0000,1164,|Argentina|Santa Fe|Rosario|,0,8504.0,[<class 'str'>],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,country_name,object,121220,121220,1.0000,1,Argentina,0,121220.0,[<class 'str'>],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,state_name,object,121220,121220,1.0000,28,Capital Federal,0,32316.0,[<class 'str'>],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,geonames_id,float64,121220,102503,0.8456,646,3.83857e+06,18717,NaN,[<class 'float'>],3.541306e+05,6.948895e+06,3.574442e+06,3.433910e+06,3.427208e+06,3.430234e+06,3.433910e+06,3.836668e+06
7,lat-lon,object,69670,69670,0.5747,47203,"-34.4026444,-58.6684776",51550,312.0,"[<class 'str'>, <class 'float'>]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,lat,float64,121220,69670,0.5747,46495,-34.4026,51550,NaN,[<class 'float'>],1.980900e+00,4.545843e+00,-3.462620e+01,-3.459799e+01,-5.482398e+01,-3.466907e+01,-3.459799e+01,-3.444130e+01
9,lon,float64,121220,69670,0.5747,46522,-58.6685,51550,NaN,[<class 'float'>],2.299900e+00,-5.373333e+01,-5.926630e+01,-5.848013e+01,-7.567893e+01,-5.872704e+01,-5.848013e+01,-5.839591e+01
10,price,float64,121220,100810,0.8316,9746,120000,20410,NaN,[<class 'float'>],2.260101e+06,6.500000e+08,4.685259e+05,1.850000e+05,0.000000e+00,1.100000e+05,1.850000e+05,4.200000e+05
11,currency,object,100809,100809,0.8316,4,USD,20411,87587.0,"[<class 'str'>, <class 'float'>]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,price_aprox_local_currency,float64,121220,100810,0.8316,10364,2.11734e+06,20410,NaN,[<class 'float'>],6.904714e+06,8.212711e+08,4.229397e+06,2.558452e+06,0.000000e+00,1.583309e+06,2.558452e+06,4.675792e+06
13,price_aprox_usd,float64,121220,100810,0.8316,10364,120000,20410,NaN,[<class 'float'>],3.913239e+05,4.654544e+07,2.397006e+05,1.450000e+05,0.000000e+00,8.973388e+04,1.450000e+05,2.650000e+05
14,surface_total_in_m2,float64,121220,81892,0.6756,1687,50,39328,NaN,[<class 'float'>],1.782222e+03,2.000000e+05,2.337953e+02,8.400000e+01,0.000000e+00,5.000000e+01,8.400000e+01,2.000000e+02
15,surface_covered_in_m2,float64,121220,101313,0.8358,995,40,19907,NaN,[<class 'float'>],7.243515e+02,1.870000e+05,1.330502e+02,7.500000e+01,0.000000e+00,4.500000e+01,7.500000e+01,1.500000e+02
16,price_usd_per_m2,float64,121220,68617,0.5661,25567,2000,52603,NaN,[<class 'float'>],2.759289e+03,2.063333e+05,2.160087e+03,1.800000e+03,6.000000e-01,1.218182e+03,1.800000e+03,2.486412e+03
17,price_per_m2,float64,121220,87658,0.7231,25185,2000,33562,NaN,[<class 'float'>],2.837864e+04,4.000000e+06,6.912216e+03,2.213115e+03,1.510204e+00,1.550000e+03,2.213115e+03,3.355549e+03
18,floor,float64,121220,7899,0.0652,182,1,113321,NaN,[<class 'float'>],1.202436e+02,3.150000e+03,1.745230e+01,3.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,6.000000e+00
19,expenses,float64,121220,14262,0.1177,982,1,106958,NaN,[<class 'float'>],1.204403e+05,1.000150e+07,5.009234e+03,2.000000e+03,1.000000e+00,1.000000e+03,2.000000e+03,4.000000e+03
20,properati_url,object,121220,121220,1.0000,121220,http://www.properati.com.ar/1cieo_venta_depart...,0,1.0,[<class 'str'>],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [474]:
# Tipos de datos columnas
df_propierati.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [480]:
# URLs no existen
df_propierati.properati_url[1]

'http://www.properati.com.ar/15bob_venta_departamentos_la-plata_balcon_lavadero_toilette_garage_estrenar_antonini-propiedades_dcp'

In [481]:
# Dimensiones data frame y tamañano
print(df_propierati.shape)
print(df_propierati.size)

(121220, 26)
3151720

In [482]:
# cantidad de registros
df_propierati.index

RangeIndex(start=0, stop=121220, step=1)

In [483]:
# cantidad de columnas
df_propierati.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [484]:
df_propierati.title[0:10]

0                   2 AMB TIPO CASA SIN EXPENSAS EN PB
1    VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37   ...
2             2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3                         PH 3 amb. cfte. reciclado
4    DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
5    Casa Barrio 338. Sobre calle 3 de caballería, ...
6    MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...
7    JOSE HERNANDEZ 1400 MONOAMBIENTE  ESTRENAR CAT...
8    JOSE HERNANDEZ   1400 DOS AMBIENTES ESTRENAR ,...
9           WHITE 7637 - 2 DORMITORIOS CON PATIO
Name: title, dtype: object

In [485]:
# Porcentaje de nulos por columna
df_propierati.isnull().sum() / df_propierati.shape[0]

Unnamed: 0                    0.000000
operation                     0.000000
property_type                 0.000000
place_name                    0.000190
place_with_parent_names       0.000000
country_name                  0.000000
state_name                    0.000000
geonames_id                   0.154405
lat-lon                       0.425260
lat                           0.425260
lon                           0.425260
price                         0.168372
currency                      0.168380
price_aprox_local_currency    0.168372
price_aprox_usd               0.168372
surface_total_in_m2           0.324435
surface_covered_in_m2         0.164222
price_usd_per_m2              0.433947
price_per_m2                  0.276869
floor                         0.934837
rooms                         0.609058
expenses                      0.882346
properati_url                 0.000000
description                   0.000016
title                         0.000000
image_thumbnail               0.025672
dtype: float64

In [486]:
# Nulos por columna
df_propierati.shape[0] - df_propierati.notnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [487]:
prop_floor_mask = df_propierati.floor.notnull()
df_propierati.loc[prop_floor_mask, :].head(2)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
83,83,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.954876705,-60.6518377614",-32.954877,...,55.0,NaN,NaN,5.0,2.0,NaN,http://www.properati.com.ar/15byz_venta_depart...,IDEAL INVERSORES o ESTUDIANTES APTA CREDITO An...,2 Dormitorios. Dorrego y Pellegrini,https://thumbs4.properati.com/5/6EjItxfpThdt-D...
85,85,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.9588372,-60.6456409",-32.958837,...,63.0,NaN,NaN,1.0,1.0,NaN,http://www.properati.com.ar/15bz1_venta_depart...,Corrientes 1900 – 1º Piso Departamento de 1 do...,Corrientes 1900 – 1º Piso 1 dormitorio (semip...,https://thumbs4.properati.com/8/Gc4BDlZf59gKpg...

In [488]:
df_propierati.groupby("property_type")['property_type'].size()

property_type
PH            5751
apartment    71065
house        40268
store         4136
Name: property_type, dtype: int64

In [489]:
df_propierati.groupby(['state_name','place_name']).size()

state_name                place_name
Bs.As. G.B.A. Zona Norte   Country Maschwitz Club       3
                           los alamos                   1
                          Acacias Blancas              34
                          Acassuso                    242
                          Albanueva Barrio Cerrado     26
                                                     ...
Tucumán                   Tafí Viejo                   16
                          Tafí del Valle               22
                          Tucumán                      77
                          Villa Belgrano                1
                          Yerba Buena                 191
Length: 1098, dtype: int64

In [490]:
ba_pn_mask = df_propierati.state_name.isin(['Capital Federal', 'Santa Fe'])
ba_pn_mask.value_counts()

False    78732
True     42488
Name: state_name, dtype: int64

In [491]:
df_propierati.loc[ba_pn_mask, 'state_name'].value_counts()

Capital Federal    32316
Santa Fe           10172
Name: state_name, dtype: int64

In [492]:
df_propierati.loc[ba_pn_mask, :].groupby(['state_name','place_name']).size()

state_name       place_name
Capital Federal  Abasto                 113
                 Agronomía               41
                 Almagro               1165
                 Balvanera              667
                 Barracas               425
                                       ...
Santa Fe         Susana                   1
                 Timbúes                  3
                 Venado Tuerto            1
                 Villa Constitución      20
                 Álvarez                  1
Length: 138, dtype: int64

In [493]:
np.round(df_propierati.pivot_table(values=['price_aprox_usd','surface_covered_in_m2'], index='state_name', aggfunc='mean'), 2).head(10)

                              price_aprox_usd  surface_covered_in_m2
state_name
Bs.As. G.B.A. Zona Norte            324317.12                 179.88
Bs.As. G.B.A. Zona Oeste            167545.65                 129.84
Bs.As. G.B.A. Zona Sur              198555.72                 149.39
Buenos Aires Costa Atlántica        143430.99                 117.85
Buenos Aires Interior               183250.00                 163.40
Capital Federal                     269603.18                  97.79
Catamarca                           725471.71                 260.76
Chaco                               178583.55                 182.27
Chubut                              342338.18                 279.18
Corrientes                          206896.79                 158.30

In [494]:
patt_bsas = '^Buenos Aires|Bs\.As\.+'
reg_bsas = re.compile(patt_bsas)
#df_propierati.place_name.str.contains(reg_bsas)

In [495]:
df_propierati.description.head(1)

0    2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...
Name: description, dtype: object

In [496]:
print(len(df_propierati.rooms), df_propierati.rooms.isnull().sum(), df_propierati.rooms.notnull().sum())
print(df_propierati.rooms.isnull().sum() + df_propierati.rooms.notnull().sum())
df_propierati.rooms.value_counts()
df_propierati.rooms.describe()

121220 73830 47390
121220

count    47390.000000
mean         3.080840
std          1.860773
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         32.000000
Name: rooms, dtype: float64

In [497]:
df_propierati.state_name.value_counts()
df_propierati.state_name.isnull().sum()
df_propierati.state_name.notnull().sum()

121220